* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Section */
.main-header,
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
    padding: 20px 5px;    
}

/* Hero section */
#hero-section .text-section {
    width: 45%;
}

#hero-section .image-section {
    width: 55%;
    background: url(../img/header-image.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

#hero-section,
#quote-section,
#process-section,
#contact-us,
#customer-review {
    padding: 80px 0; 
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    border: none;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}

.time-section img {
    width: 100%;
}

.light-grey {
    color: #939191;
}

/* Quote section */
#quote-section,
#offer-section,
#experience-section {
    background: #E2E6E9;
}

#quote-section .left-section,
#quote-section .right-form-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2,
#process-section .head-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#quote-section .left-section .image-box img {
    width: 100%;
}

#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

.right-form-section {
    margin-top: 18px
}

#quote-section .right-form-section h3 {
    font-size: 48px;
    margin-bottom: 25px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#quote-section .text-box a {
    text-decoration: none;
    color: #000;       
}

#flex-start {
    justify-content: flex-start;
    margin-left: 40px;
}

/* Process section */
#process-section .flex {    
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

#process-section .step-section,
#process-section .head-section {
    width: 40%;    
}

.step-section {    
    display: flex;    
}

.step-section ul {
    list-style: none;
}

#process-section .step {
    display: flex;    
}

#process-section .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#process-section img {
    padding: 10px;
}

.step .small {
    width: 70px;
    height: 70px;
}

#process-section .text-section {
    display: flex;
    flex-direction: column;       
}

.text-section h3,
.text-section p {
    padding: 10px 5px;
}

.step p {
    width: 60%;
    margin-top: 10px;
}

.text-section h3 {
    font-size: 24px;
    margin-top: 12px;
}

.justify-between {
    justify-content: space-between;
}

/*#offer-section .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;    
}

#offer-section .desc {
    margin-bottom: 20px;   
    text-align: center;
}

.desc h3 {
    font-size: 40px;
    margin-top: 10px;    
}

.desc p {
    font-size: 18px;
    font-weight: 700;
}

#offer-section .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 30px;      
}

.grid-box {
    background: #fff;
    width: 200px;
    height: 150px;
    padding: 40px;
    text-align: center;
}*/

/* Offer section */
#offer-section {
    padding: 80px 0;
    background: #E2E6E9;
    min-height: 100vh;
}

#offer-section p, #offer-section h2 {
    text-align: center;
}

#offer-section .grid .grid-box {
    background: #fff;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24%;
    margin-bottom: 12px;
}

#offer-section .grid {
    flex-wrap: wrap;
    margin: 40px 0 15px 0;
}

#offer-section .grid .grid-box:hover,
#offer-section #orange {
    background: #FF6433;
    color: #fff;
}

.learn-arrow {
    display: flex;
    justify-content: flex-end;
}

.learn-arrow a {
    display: flex;
    color: #000;
    text-decoration: none;
}

.learn-arrow p {
    margin-right: 10px;
}

/* CTA Section */

#cta-section {
    width: 100%;
}

.cta {
    position: relative;
    display: flex;    
}

.cta .car-image {
    background: url(../img/car-image.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
}

.cta .car-engine {
    background: url(../img/car-engine.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
}

#cta-section .orange-box {
    background: #FF6433;
    position: absolute;
    color: #fff;
    height: 50vh;
    width: 37%;
    left: 17%;
    padding: 50px;            
}

.cta .orange-box p {
    font-size: 30px;    
    font-weight: 700;
    margin: 50px 20px;
}

.orange-box button {
    background: #000;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 20px;    
}

/* Experience section */

#experience-section .flex {
    justify-content: space-between;
    margin: 0 70px;
    padding: 40px 0px;
}

.experience {
    font-weight: 700;
}

.experience h2 {
    font-size: 45px;
    color: #661CE7;
}

.experience p {
    color: rgb(61, 61, 61);
}

/* Brands section */

#brands-section {    
    background: #f6f6f6;
}

#brands-section .flex {
    flex-direction: column;
    margin: 0 50px;
    padding: 80px 0px;
}

#brands-section h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}

.brand-row {
    display: flex;
    padding-right: 40px;    
}

/* Customer Review */
#customer-review {
    background: #F2F2F2;
    min-height: 80vh;
}

#customer-review h2 {
    font-size: 42px;    
    text-align: center;
    margin: 0 250px;    
}

.reviews {
    min-width: 100%;
    margin-top: 40px;
    padding: 0 40px;   
}

.reviews .review-box {
    width: 48%;
    padding: 44px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(172, 172, 172, 0.29);
    border-radius: 6px;       
}

.review-box .customer {
    margin-bottom: 20px;
    display: flex;
}

.customer-name .name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.customer-name .light-grey {
    font-size: 14px;
}

.customer-name {
    margin: 10px 0 0 20px;    
}

.review-text p {
    font-size: 20px;
    line-height: 28px;    
}

.review-scroll {
    display: flex;
    width: 55%;
    align-items: center;    
    justify-content: space-between;
    margin: 10px 10px 0 0;
    padding-right: 25px;
}

.reviews-line img {
    margin-right: 5px;
}

.flex-end {
    justify-content: flex-end;
}

.thirty-text {
    font-size: 30px;
}

/* FAQ section */
#faq-section {
    background: #E2E6E9;
    padding: 60px 120px;   
    min-height: 100vh;
}

#faq-section h3 {
    text-align: center;
}

.faq-questions {
    display: flex;
    flex-direction: column;
    margin: 50px 100px 30px 100px;
    gap: 10px;    
}

.faq h5 {
    font-size: 18px;       
}

.faq-questions p {
    font-size: 14px;
    margin-top: 10px;
    color: #939191;
    text-align: justify;
    width: 80%;
}

.faq {
    background: #fff;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq img {
    width: 30px;
    height: 30px;
}

/* Contact Us Section */
#contact-us {
    background: #1e1b1b;
    color: #fff;
}

#contact-us .right-social {
    width: 30%;
}

#contact-us .left-address {
    width: 40%;
}

.right-social h3 {    
    margin-bottom: 30px;    
}

.social-icons {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.left-address .contacts {
    margin-bottom: 30px;
}

.left-address p {
    color: #ccc;
    margin-bottom: 10px;
}

/* Footer */
footer {
    padding: 30px 0;
    background: #000;
}

.main-footer .navigation a {
    color: #fff;
}

.main-footer .copyright {
    color: #939191;
}

.main-footer .right-section .navigation {
    border: none;
}

.main-footer .navigation {
    margin-right: 150px;
}

/* Mobile Design */

@media (max-width: 426px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-header .right-section {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;

    }

    .main-header .navigation ul,
    #hero-section .flex,
    #quote-section .flex,
    #process-section .flex,
    #contact-us .flex {
        flex-direction: column;
    }

    .main-header .navigation ul a{
        display: block;
    }

    .main-header .navigation {
        border: none;
        width: 100%;
    }

    .main-header .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .road-assistance {
        padding: 10px 0;
    }

    #hero-section {
        padding-top: 50px;
    }

    #hero-section .image-section,
    #hero-section .text-section,
    #quote-section .left-section,
    #quote-section .right-form-section,
    #process-section .head-section,
    #process-section .step-section,    
    .container,
    #contact-us .right-social,
    #contact-us .left-address {
        width: 100%;
    }    

    #hero-section .image-section {
        order: 1;        
    }

    #hero-section .text-section {
        order: 2;
    }

    #hero-section h1,
    #quote-section .left-section h2,
    #quote-section .right-form-section h3,
    #process-section .head-section h2,
    .experience h2 {
        font-size: 35px;
    }

    #quote-section .left-section .text-box {
        width: 80%;
    }

    #quote-section .flex-row {
        flex-direction: row;
        padding-top: 0;
    }

    #process-section .step-section {
        margin-top: 30px;
    }

    #offer-section .grid {
        padding-top: 0;
    }

    #offer-section .grid .grid-box {
        width: 48%;
    }

    #cta-section .orange-box {
        padding: 5px;
    }

    #cta-section .orange-box p {
        font-size: 16px;
        margin: 20px;
    }

    #experience-section .flex {
        margin: 0 20px;
    }

    #experience-section .experience {
        width: 25%;
    }

    #brands-section .flex {
        margin: 0;
    }

    #brands-section .brand-row {        
        width: 50%;
        flex-direction: column;
        padding-right: 0;
    }

    #brands-section .column-flex {
        display: flex;        
    }

    #customer-review h2 {
        margin: 0;
        font-size: 35px;
    }

    #customer-review .reviews {
        gap: 20px;
        overflow: scroll;
    }

    .reviews .review-box {
        width: 100%;
        padding: 20px;        
    }

    .review-text p {
        font-size: 16px;
        line-height: 16px;
    }

    .review-scroll {
        width: 100%;
        margin: 10px;
        flex-direction: column;
        padding: 0;
    }
    
    .reviews-arrow {
        align-self: flex-end;
        margin: 10px 30px 0 0;        
    }

    #faq-section {
        padding: 20px;
    }

    .faq-questions {
        width: 80%;
        margin: 30px;
    }

    #contact-us .flex {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .main-footer {
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }

    .main-footer .right-section {
        flex-direction: column;
        gap: 10px;
    }

    .main-footer .right-section .navigation {
        margin: 0;
    }

}
